.ok {
  margin: 0 1rem;
  border: none;
  border-bottom: 1px solid black;
  display: flex;
  align-items: baseline;
}

.ok p {
  color: black;
}

.ok input {
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  margin: 0.5rem;
  display: inline;
  width: 90%;
  padding-top: 10px;
}

.ok input:focus {
  border: none;
}

i {
  color: black;
  padding: 0;
  margin-bottom: 5px;
}

p {
  text-align: center;
}