.outlet-container {

}

.dashboard {
  width: 100%;
  max-width: 100%;
  /*padding: 0;*/
  margin: 0;
}


.nav-brand {
  max-width: 50%;
}

.nav-image img {
  max-height: 70px;
  object-fit: cover;

}

@media screen and (max-width: 576px) {
  .dashboard {
    /*padding: 0;*/
  }
}
